Unidad_04_DTD_XSD/DTD/17-dtd-interno-entidad-parametro-solo-atributos.dtd

<!ENTITY marvel "Ediciones Marvel">
<!ENTITY vengadores SYSTEM "superheroes.txt">
<!ENTITY % caracteristicas "nombre CDATA #REQUIRED color CDATA #IMPLIED">
   
<!ELEMENT marvel (superheroe*, villano*)>
<!ELEMENT superheroe (#PCDATA)>
<!ATTLIST superheroe  %caracteristicas;>
  
<!ELEMENT villano (#PCDATA)>
<!ATTLIST villano  %caracteristicas;>